@import "tailwindcss";

/* Personalizaciones adicionales */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prose {
  color: #374151;
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}